<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vue</title>
	<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="./css/chenxi.min.css">
	<script src='./js/vue.js'></script>
	<link rel="stylesheet" href="./css/animate.min.css">
</head>
<body>
<div class="container-fluid">
	<div id="a1">
		<h1 v-on:click='bandelhand'  >{{msg}} </h1>
		<h1 :style="{background:someDynamicCondition}">{{abc}}</h1>
		<input type="text" v-model='msg'>

		
		<template v-if='h2_show'>
			<h2> 看看我帅么?</h2>
			<h3>你确实很帅</h3>
		</template>
		<ul>
			<li v-for='itim in list' v-if='itim==1'>{{itim}}</li>
		</ul>
		


		<div class="btn-group">
			<a href="javascript:;" class="btn"
			:class='btn_class'
			@click='change' >点我</a>
		</div>

		<div class="todu">
			<h1>my names id todo</h1>
			<input type="text" @keyup.enter='add'>
			<ul>
				<li v-for='i in todo_list' >{{i}} </li>
			</ul>
		</div>
	</div>

</div>


<div id="animate">
	<button @click='animate'>点我点我赶紧点我！</button>
	<transition name="custom-classes-transition" enter-active-class="animated fadeInUp" 
	leave-active-class="animated fadeOutDown" >
		<h3 v-if='fade_flag' >看我动画帅么？</h3>
	</transition>
</div>
</body>
</html>
<script src=./js/index.js></script>